- test.shuffle_questions.first(@questions).each_with_index do |question, question_index|
  .row
  %strong
    #{question_index + 1})
    = question.name
    - if question.photo_url.present?
      .row
      = image_tag question.photo_url(:p250x250)
  .row
  - if question.shuffle_answers.count == 0
    .spacing{style: 'padding: 100px;'}
  - else
    - question.shuffle_answers.each_with_index do |answer, answer_index|
      = radio_button_tag answer.name, 'no', false, disabled: true
      = answer.name
      .row
      - if answer.photo_url.present?
        = image_tag answer.photo_url(:p250x250)
    .spacing{style: 'padding: 10px;'}
