%h4.page-title Tests
.row
  .col-sm-12
    .card-box.table-responsive
      .dropdown.pull-right
        %a.dropdown-toggle.card-drop{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
          %i.zmdi.zmdi-more-vert
        %ul.dropdown-menu{:role => "menu"}
          %li
            = link_to 'New', new_users_test_path
      %table#datatable-responsive.table.table-striped.table-bordered.dt-responsive.nowrap{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Name
            %th Questions
            %th
            %th
        %tbody
          - tests.each do |test|
            %tr{id: "tests_#{test.id}"}
              %td
                = link_to users_test_questions_path(test), class: '' do
                  = test.name
              %td= test.questions.count
              %td 
                = link_to edit_users_test_path(test), class: 'btn btn-sm btn-info' do
                  Edit
              %td
                = simple_form_for :user, url: users_test_path(test), method: 'GET' do |f|
                  Number of Qestions
                  = f.select :questions, (1..test.questions.count).reverse_each {|t| [t,t]}, include_blank: 'All', label: 'Number Of Questions'
                  %br
                  Number of Tests
                  = f.select :tests, (1..100).reverse_each {|t| [t,t]}, include_blank: 'All'
                  %br
                  = f.button :submit,'Generate Test', class: 'btn btn-sm btn-info pull-right popup', disable_with: 'Creating...'

:javascript
  $('.popup').click(function(e) {
    e.preventDefault();
    $(this).closest('form').attr('target', '_blank').submit()
  });
