!!!
%html{:mozdisallowselectionprint => "", :moznomarginboxes => ""}
  %head
    = stylesheet_link_tag '/assets/css/bootstrap.min', media: 'all', 'data-turbolinks-track' => true
    :css
      @media print {
        .new_page {page-break-after: always;}
      }
  %body
    - @tests.times do |t|
      .hidden-print
        %h3= test.name
      - if @randomize
        = render 'random_test', :locals => {:t => t}
      - else
        = render 'test'
      %br
      %br
      .divFooter
        .pull-right 
          V#{t+1}
      .new_page
