-content_for(:title){ ' Home ' }
-content_for(:meta_description){ ' description ' }
-content_for(:meta_keywords){ ' keywords ' }

%header#fh5co-hero{"data-section" => "home", :role => "banner", :style => "background: url(#{asset_path('images/bg_2.jpg')}) top left; background-size: cover;"}
  .fh5co-overlay
  .fh5co-intro
    .container
      .row
        .col-md-6.fh5co-text
          %h2.to-animate.intro-animate-1 We take your business to the next level.
          %p.to-animate.intro-animate-2 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
          %p.to-animate.intro-animate-3
            %a.btn.btn-primary.btn-md{:href => "#"}
              %i.icon-apple
              See on AppStore
        .col-md-6.text-right.fh5co-intro-img.to-animate.intro-animate-4
          = image_tag 'images/iphone_6_3.png', alt: ''
#fh5co-main
  #fh5co-clients
    .container
      .row.text-center
        .col-md-3.col-sm-6.col-xs-6.to-animate
          %figure.fh5co-client
            = image_tag 'images/client_1.png', alt: ''
        .col-md-3.col-sm-6.col-xs-6.to-animate
          %figure.fh5co-client
            = image_tag 'images/client_2.png', alt: ''
        .col-md-3.col-sm-6.col-xs-6.to-animate
          %figure.fh5co-client
            = image_tag 'images/client_3.png', alt: ''
        .col-md-3.col-sm-6.col-xs-6.to-animate
          %figure.fh5co-client
            = image_tag 'images/client_4.png', alt: ''
  #fh5co-features{"data-section" => "features"}
    .container
      .row
        .col-md-8.col-md-offset-2.fh5co-section-heading.text-center
          %h2.fh5co-lead.to-animate Explore amazing features
          %p.fh5co-sub.to-animate Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12
          %a.fh5co-feature.to-animate{:href => "#"}
            %span.fh5co-feature-icon
              %i.icon-mustache
            %h3.fh5co-feature-lead 100% Free
            %p.fh5co-feature-text Far far away behind the word mountains
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12
          %a.fh5co-feature.to-animate{:href => "#"}
            %span.fh5co-feature-icon
              %i.icon-screen-smartphone
            %h3.fh5co-feature-lead Fully Responsive
            %p.fh5co-feature-text Far far away behind the word mountains
        .clearfix.visible-sm-block
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12
          %a.fh5co-feature.to-animate{:href => "#"}
            %span.fh5co-feature-icon
              %i.icon-eye
            %h3.fh5co-feature-lead Retina-ready
            %p.fh5co-feature-text Far far away behind the word mountains
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12
          %a.fh5co-feature.to-animate{:href => "#"}
            %span.fh5co-feature-icon
              %i.icon-cloud-download
            %h3.fh5co-feature-lead Download
            %p.fh5co-feature-text Far far away behind the word mountains
        .clearfix.visible-sm-block
        .fh5co-spacer.fh5co-spacer-sm
        .col-md-4.col-md-offset-4.text-center.to-animate
          %a.btn.btn-primary{:href => "#"} View All Features
  #fh5co-features-2{"data-section" => "design"}
    .fh5co-features-2-content
      .container
        .row
          .col-md-8.col-md-offset-2.fh5co-section-heading.text-center
            %h2.fh5co-lead.to-animate Better design
            %p.fh5co-sub.to-animate Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          .col-md-4.fh5co-text-wrap
            .row.text-center
              .col-md-12.col-sm-6.col-xs-6.col-xxs-12.fh5co-text.animate-object.features-2-animate-3
                %span.fh5co-icon
                  %i.icon-screen-desktop
                %h4.fh5co-uppercase-sm Cross platform support
                %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .col-md-12.col-sm-6.col-xs-6.col-xxs-12.fh5co-text.animate-object.features-2-animate-4
                %span.fh5co-icon
                  %i.icon-anchor
                %h4.fh5co-uppercase-sm Prototyping tools
                %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          .col-md-4.col-md-push-4.fh5co-text-wrap
            .row.text-center
              .col-md-12.col-sm-6.col-xs-6.col-xxs-12.fh5co-text.animate-object.features-2-animate-5
                %span.fh5co-icon
                  %i.icon-rocket
                %h4.fh5co-uppercase-sm Powerful design
                %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .col-md-12.col-sm-6.col-xs-6.col-xxs-12.fh5co-text.animate-object.features-2-animate-6
                %span.fh5co-icon
                  %i.icon-people
                %h4.fh5co-uppercase-sm User Collaboration
                %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          .col-md-4.col-md-pull-4.fh5co-image.animate-object.features-2-animate-2
            %p.text-center
              = image_tag 'images/iphone_blank_2.png', alt: ''
  #fh5co-testimony{"data-section" => "testimonies"}
    .container
      .row.animate-box
        .owl-carousel
          .item
            .col-md-3.col-sm-3.col-xs-4.col-xxs-12
              %figure.fh5co-vcard
                = image_tag 'images/user.jpg', class: 'img-responsive'
            .col-md-9.col-sm-9.col-xs-8.col-xxs-12
              %blockquote
                %p “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
              %p.fh5co-author.fh5co-uppercase-sm
                %span> Gustav Barrow
                , XYZ Inc.
          .item
            .col-md-3.col-sm-3.col-xs-4.col-xxs-12
              %figure.fh5co-vcard
                = image_tag 'images/user_2.jpg', class: 'img-responsive'
            .col-md-9.col-sm-9.col-xs-8.col-xxs-12
              %blockquote
                %p “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
              %p.fh5co-author.fh5co-uppercase-sm
                %span> Gustav Barrow
                , XYZ Inc.
          .item
            .col-md-3.col-sm-3.col-xs-4.col-xxs-12
              %figure.fh5co-vcard
                = image_tag 'images/user_3.jpg', class: 'img-responsive'
            .col-md-9.col-sm-9.col-xs-8.col-xxs-12
              %blockquote
                %p “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
              %p.fh5co-author.fh5co-uppercase-sm
                %span> Gustav Barrow
                , XYZ Inc.
  #fh5co-counter.fh5co-bg-section{:style => "background-image: url(#{asset_path('images/bg_1.jpg')}); background-attachment: fixed;"}
    .fh5co-overlay
    .container
      .row
        .col-md-12
          .fh5co-hero-wrap
            .fh5co-hero-intro.text-center.to-animate.counter-animate
              .col-md-4.text-center
                %span.fh5co-counter.js-counter{"data-from" => "0", "data-refresh-interval" => "50", "data-speed" => "5000", "data-to" => "28"}
                %span.fh5co-counter-label Customers
              .col-md-4.text-center
                %span.fh5co-counter.js-counter{"data-from" => "0", "data-refresh-interval" => "50", "data-speed" => "5000", "data-to" => "57"}
                %span.fh5co-counter-label Completed Apps
              .col-md-4.text-center
                %span.fh5co-counter.js-counter{"data-from" => "0", "data-refresh-interval" => "50", "data-speed" => "5000", "data-to" => "34023"}
                %span.fh5co-counter-label Downloads
  #fh5co-products{"data-section" => "products"}
    .container
      .row
        .col-md-8.col-md-offset-2.fh5co-section-heading.text-center
          %h2.fh5co-lead.animate-single.product-animate-1 Other awesome Apps
          %p.fh5co-sub.animate-single.product-animate-2 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12
          %a.fh5co-figure.to-animate.image-popup{:href => "#{asset_path('images/product_1.jpg')}"}
            %figure
              = image_tag 'images/product_1.jpg', class: 'img-responsive'
            %h3.fh5co-figure-lead Product Name
            %p.fh5co-figure-text Far far away behind the word mountains
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12
          %a.fh5co-figure.to-animate.image-popup{:href => "#{asset_path('images/product_2.jpg')}"}
            %figure
              = image_tag 'images/product_2.jpg', class: 'img-responsive'
            %h3.fh5co-figure-lead Product Name
            %p.fh5co-figure-text Far far away behind the word mountains
        .clearfix.visible-sm-block
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12
          %a.fh5co-figure.to-animate.image-popup{:href => "#{asset_path('images/product_3.jpg')}"}
            %figure
              = image_tag 'images/product_3.jpg', class: 'img-responsive'
            %h3.fh5co-figure-lead Product Name
            %p.fh5co-figure-text Far far away behind the word mountains
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12
          %a.fh5co-figure.to-animate.image-popup{:href => "images/product_4.jpg"}
            %figure
              = image_tag 'images/product_4.jpg', class: 'img-responsive'
            %h3.fh5co-figure-lead Product Name
            %p.fh5co-figure-text Far far away behind the word mountains
        .clearfix.visible-sm-block
        .fh5co-spacer.fh5co-spacer-sm
        .col-md-4.col-md-offset-4.text-center.to-animate
          %a.btn.btn-primary{:href => "#"} View All Products
  #fh5co-features-3{"data-section" => "benefits"}
    .container
      .row
        .col-md-8.col-md-offset-2.fh5co-section-heading.text-center
          %h2.fh5co-lead.animate-single.features3-animate-1 Benefits of this App
          %p.fh5co-sub.animate-single.features3-animate-2 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-6.text-center.fh5co-text-wrap
          .fh5co-text.to-animate
            %span.fh5co-icon
              %i.icon-screen-desktop
            %h4.fh5co-uppercase-sm Cross platform support
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-6.text-center.fh5co-text-wrap
          .fh5co-text.to-animate
            %span.fh5co-icon
              %i.icon-graph
            %h4.fh5co-uppercase-sm Cross platform support
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .clearfix.visible-sm-block
        .col-md-4.col-sm-6.text-center.fh5co-text-wrap
          .fh5co-text.to-animate
            %span.fh5co-icon
              %i.icon-anchor
            %h4.fh5co-uppercase-sm Cross platform support
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-6.text-center.fh5co-text-wrap
          .fh5co-text.to-animate
            %span.fh5co-icon
              %i.icon-camera
            %h4.fh5co-uppercase-sm Cross platform support
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .clearfix.visible-sm-block
        .col-md-4.col-sm-6.text-center.fh5co-text-wrap
          .fh5co-text.to-animate
            %span.fh5co-icon
              %i.icon-present
            %h4.fh5co-uppercase-sm Cross platform support
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-6.text-center.fh5co-text-wrap
          .fh5co-text.to-animate
            %span.fh5co-icon
              %i.icon-energy
            %h4.fh5co-uppercase-sm Cross platform support
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
  #fh5co-cta.fh5co-bg-section.cta{:style => "background-image: url(#{asset_path('images/hero_bg.jpg')}); background-attachment: fixed;"}
    .fh5co-overlay
    .container
      .row
        .col-md-12
          .fh5co-hero-wrap
            .fh5co-hero-intro.text-center
              .row
                .col-md-8.col-md-offset-2.fh5co-section-heading.text-center
                  %h2.fh5co-lead.to-animate Try Outline App today!
                  %p.fh5co-sub.to-animate Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  .to-animate
                    %a.btn.btn-primary{:href => "#"} Get Started!
  #fh5co-pricing{"data-section" => "pricing"}
    .container
      .row
        .col-md-8.col-md-offset-2.fh5co-section-heading.text-center
          %h2.fh5co-lead.animate-single.pricing-animate-1 Plans built for every one
          %p.fh5co-sub.animate-single.pricing-animate-2 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        - plans.each do |plan|
          .col-md-3.to-animate
            = link_to new_user_registration_path(:plan => plan.slug), class: "fh5co-figure #{ 'active pricing-feature' if plan.featured}" do
              %span.fh5co-price
                = number_to_currency(plan.price)
                %span /Montly
              %h3.fh5co-figure-lead= plan.name
              %p.fh5co-figure-text= plan.description
  #fh5co-faqs{"data-section" => "faqs"}
    .container
      .row
        .col-md-8.col-md-offset-2.fh5co-section-heading.text-center
          %h2.fh5co-lead.animate-single.faqs-animate-1 Frequently Ask Questions
          %p.fh5co-sub.animate-single.faqs-animate-2 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    .container
      .faq-accordion.active.to-animate
        %span.faq-accordion-icon-toggle.active
          %i.icon-arrow-down
        %h3 What is Outline?
        .faq-body{:style => "display: block;"}
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
      .faq-accordion.to-animate
        %span.faq-accordion-icon-toggle
          %i.icon-arrow-down
        %h3 Is Outline Free?
        .faq-body
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
      .faq-accordion.to-animate
        %span.faq-accordion-icon-toggle
          %i.icon-arrow-down
        %h3 How do I use Outline Features?
        .faq-body
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
      .faq-accordion.to-animate
        %span.faq-accordion-icon-toggle
          %i.icon-arrow-down
        %h3 Which version of iOS do your apps support?
        .faq-body
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
      .faq-accordion.to-animate
        %span.faq-accordion-icon-toggle
          %i.icon-arrow-down
        %h3 What languages are available?
        .faq-body
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
      .faq-accordion.to-animate
        %span.faq-accordion-icon-toggle
          %i.icon-arrow-down
        %h3 I have technical problem, who do I email?
        .faq-body
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
  #fh5co-subscribe
    .container
      .row.animate-box
        %form{:action => "#", :method => "post"}
          .col-md-3.col-sm-3
            .form-group
              %input.form-control{:placeholder => "First Name", :type => "text"}/
          .col-md-3.col-sm-3
            .form-group
              %input.form-control{:placeholder => "Last Name", :type => "text"}/
          .col-md-3.col-sm-3
            .form-group
              %input.form-control{:placeholder => "Email", :type => "email"}/
          .col-md-3.col-sm-3
            .form-group
              %input.btn.btn-primary{:type => "submit", :value => "Subscribe"}/
