.card-box
  .row
    .col-lg-12
      = simple_form_for([:managers, manager], html: {class: 'form-horizontal clearfix', novalidate: true}) do |f|
        .form-group
          %label.col-md-2.control-label Email
          .col-md-10
            = f.input :email, label: false
        .form-group
          %label.col-md-2.control-label Password
          .col-md-10
            = f.input :password, label: false
        .form-group
          %label.col-md-2.control-label First Name
          .col-md-10
            = f.input :first_name, label: false
        .form-group
          %label.col-md-2.control-label Last Name
          .col-md-10
            = f.input :last_name, label: false
        .form-group
          %label.col-md-2.control-label Photo
          .col-md-10
            = f.input :photo, label: false
        .form-group
          %label.col-md-2.control-label Actice
          .col-md-10
            = f.input :active, label: false
        .form-group
          %label 
          = f.button :submit, class: 'btn btn-primary btn-large pull-right', disable_with: 'Creating...'
