!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      - unless yield(:title).to_s.empty?
        = yield (:title)
        |
      Exam Gene
      |
      The best way to prepare a exam
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => yield(:meta_description).to_s, :name => "description"}/
    %meta{:content => yield(:meta_keywords).to_s, :name => "keywords"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "", :property => "og:title"}/
    %meta{:content => "", :property => "og:image"}/
    %meta{:content => "", :property => "og:url"}/
    %meta{:content => "", :property => "og:site_name"}/
    %meta{:content => "", :property => "og:description"}/
    %meta{:content => "", :name => "twitter:title"}/
    %meta{:content => "", :name => "twitter:image"}/
    %meta{:content => "", :name => "twitter:url"}/
    %meta{:content => "", :name => "twitter:card"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory

    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/

    = favicon_link_tag 'favicon.ico', type: 'image/png'


    / FOR IE9 below
    /[if lt IE 9]
      <script src="js/respond.min.js"></script>
  %body
    #fh5co-offcanvass
      %ul
        %li.active
          %a{"data-nav-section" => "home", :href => "#"} Home
        %li
          %a{"data-nav-section" => "features", :href => "#"} Features
        %li
          %a{"data-nav-section" => "design", :href => "#"} Design
        %li
          %a{"data-nav-section" => "testimonies", :href => "#"} Testimonies
        %li
          %a{"data-nav-section" => "products", :href => "#"} Products
        %li
          %a{"data-nav-section" => "benefits", :href => "#"} Benefits
        %li
          %a{"data-nav-section" => "pricing", :href => "#"} Pricing
        %li
          %a{"data-nav-section" => "faqs", :href => "#"} FAQs
        %li
          = link_to 'Log In', users_dashboard_path
      %h3.fh5co-lead Connect with us
      %p.fh5co-social-icons
        %a{:href => "#"}
          %i.icon-twitter
        %a{:href => "#"}
          %i.icon-facebook
        %a{:href => "#"}
          %i.icon-instagram
        %a{:href => "#"}
          %i.icon-dribbble
        %a{:href => "#"}
          %i.icon-youtube
    #fh5co-menu.navbar
      .container
        .row
          .col-md-12
            %a.js-fh5co-nav-toggle.fh5co-nav-toggle{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#fh5co-navbar", "data-toggle" => "collapse", :href => "#"}
              %span Menu
              %i
            = link_to root_path, class: 'navbar-brand' do
              %span Exam Gene
    #fh5co-page
      #fh5co-wrap
        = yield
      %footer#fh5co-footer{:style => ""}
        .fh5co-overlay
        .fh5co-footer-content
          .container
            .row
              .col-md-3.col-sm-4.col-md-push-3
                %h3.fh5co-lead About
                %ul
                  %li
                    %a{:href => "#"} Tour
                  %li
                    %a{:href => "#"} Company
                  %li
                    %a{:href => "#"} Jobs
                  %li
                    %a{:href => "#"} Blog
                  %li
                    %a{:href => "#"} New Features
                  %li
                    %a{:href => "#"} Contact Us
              .col-md-3.col-sm-4.col-md-push-3
                %h3.fh5co-lead Support
                %ul
                  %li
                    %a{:href => "#"} Help Center
                  %li
                    %a{:href => "#"} Terms of Service
                  %li
                    %a{:href => "#"} Security
                  %li
                    %a{:href => "#"} Privacy Policy
                  %li
                    %a{:href => "#"} Careers
                  %li
                    %a{:href => "#"} More Apps
              .col-md-3.col-sm-4.col-md-push-3
                %h3.fh5co-lead More Links
                %ul
                  %li
                    %a{:href => "#"} Feedback
                  %li
                    %a{:href => "#"} Frequently Ask Questions
                  %li
                    %a{:href => "#"} Terms of Service
                  %li
                    %a{:href => "#"} Privacy Policy
                  %li
                    %a{:href => "#"} Careers
                  %li
                    %a{:href => "#"} More Apps
              .col-md-3.col-sm-12.col-md-pull-9
                .fh5co-footer-logo
                  = link_to root_path do
                    Exam Gene
                %p.fh5co-copyright
                  %small
                    \© 2015- #{Date.today.strftime('%Y')}. All Rights Reserved.
                    %br/
                    by
                    %a{:href => "http://freehtml5.co/", :target => "_blank"} FREEHTML5.co
                    Images:
                    %a{:href => "http://pexels.com/", :target => "_blank"} Pexels
                %p.fh5co-social-icons
                  %a{:href => "#"}
                    %i.icon-twitter
                  %a{:href => "#"}
                    %i.icon-facebook
                  %a{:href => "#"}
                    %i.icon-instagram
                  %a{:href => "#"}
                    %i.icon-dribbble
                  %a{:href => "#"}
                    %i.icon-youtube
